// Define o tamanho mínimo de tela para telas pequenas (celulares)
$breakpoint-small: 576px;

// Define o tamanho mínimo de tela para telas médias (tablets)
$breakpoint-medium: 768px;

// Define o tamanho mínimo de tela para telas grandes (desktops)
$breakpoint-large: 992px;

// Define o tamanho mínimo de tela para telas extra-grandes (monitores grandes)
$breakpoint-extra-large: 1200px;

// Mixin para telas pequenas e médias
@mixin small-to-medium-screen {
	@media (max-width: ( $breakpoint-medium - 1)) {
		@content;
	}
}

// Mixin para telas médias e grandes
@mixin medium-to-large-screen {
	@media (max-width: ( $breakpoint-large - 1)) {
		@content;
	}
}

// Mixin para telas grandes e extra-grandes
@mixin large-to-extra-large-screen {
	@media (min-width: $breakpoint-large) and (max-width: ($breakpoint-extra-large - 1)) {
		@content;
	}
}

// Mixin para telas maiores que extra-grandes
@mixin xxl-screen {
	@media (min-width: $breakpoint-extra-large) {
		@content;
	}
}

%button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 1px solid #000;
	border-radius: 0;
	width: 100%;
	max-width: 10rem;
	text-align: center;
	color: #000;
	font-weight: 600;
	padding: 8px;
	font-size: 0.825rem;
}

%cta {
	color: #000;
	display: block;
	font-size: 0.875rem;
	line-height: 1.5;

	&::after {
		display: inline-block;
		margin-left: 0.25rem;
		content: "";
		width: 0.5rem;
		height: 0.5rem;
		background-image: url("../assets/images/right-1.svg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

%header-4 {
	font-family: Santral W01;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5rem;
	color: #000;
	line-height: 1.33;
}

%hover-effect {
	background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			from(#00a4b7),
			to(#00a4b7)
		)
		0 100% no-repeat;
	background: linear-gradient(0, #00a4b7, #00a4b7) 0 100% no-repeat;
	background-color: none !important;
	background-size: 0 1px;
	-webkit-transition: background-size 0.5s;
	transition: background-size 0.5s;
	text-decoration: none;
	display: inline !important;
}
