@import "./mixins";

.banner {
	display: flex;

	&--card,
	&--stories {
		flex-direction: column;
		align-items: center;
		max-width: 512px;
	}

	&--card {
		margin: 0 3rem;
		@include small-to-medium-screen {
			margin: 0;
		}
	}

	&--stories {
		max-width: 410px;
		border: 1px solid #ccc;
		overflow: hidden;
		@include small-to-medium-screen {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: 100%;
			height: auto;
			max-height: 400px;
		}
	}

	&--fullbanner-reverse,
	&--fullbanner {
		max-width: 100%;
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 3.5rem;
		@include small-to-medium-screen {
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			align-items: flex-start;
			width: 100%;
			text-align: left;
		}
	}

	&--category {
		max-width: 252px;
		flex-direction: column;
	}

	&--video-banner {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		@include medium-to-large-screen {
			flex-direction: column;
		}
	}

	&--menu-card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	/* BOX MEDIA */
	&__media {
		width: 100%;
		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}

		&--card {
			margin-bottom: 1rem;
		}

		&--stories {
			overflow: hidden;
			padding: 1.5rem;
			img {
				display: block;
				width: 100%;
			}

			@include small-to-medium-screen {
				padding: 0.5rem;
			}
		}

		&--fullbanner-reverse,
		&--fullbanner {
			grid-column: 1 / -1;
			grid-row: 1;
		}

		&--menu-card {
			a {
				border: none !important;
			}
		}
	}

	/* BOX CONTENT */
	&__content {
		display: block;
		text-align: center;

		a {
			@extend %hover-effect;
			&:hover {
				background-size: 100% 1px;
			}
		}

		&--card,
		&--stories {
			strong {
				font-size: 1.5rem;
				font-weight: 600;
			}
			a {
				@extend %cta;
				@extend %hover-effect;
				font-size: 1rem;
				font-weight: 400;
				&:hover {
					background-size: 100% 1px;
				}
			}
		}

		&--stories {
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			gap: 1rem;
			padding: 1.5rem;

			@include small-to-medium-screen {
				padding: 0.5rem;
				gap: 0;
			}

			strong,
			p,
			a {
				text-align: left;
			}

			strong {
				font-size: 1.12rem;
				min-height: 2.24rem;

				@include small-to-medium-screen {
					line-height: 1.5;
				}
			}

			p {
				font-weight: 300;
				line-height: 1.5;
				min-height: 4rem;
				font-size: 0.875rem;

				@include small-to-medium-screen {
					display: none;
				}
			}

			a {
				font-weight: 300;
				margin-bottom: 2rem;

				@include small-to-medium-screen {
					display: none;
				}
			}
		}

		&--category {
			margin-top: 0.5rem;
			display: block;
			font-family: Santral W01;
			font-weight: 600;
			font-style: normal;
			font-size: 0.875rem;
			color: #000;
			line-height: 1.71;
			text-align: center;
		}

		&--video-banner {
			width: 100%;
			max-width: 480px;
			padding: 0 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			row-gap: 1rem;

			font-family: "Santral W01";
			color: #000;

			strong {
				font-size: 1.5rem;
				line-height: 1.33;
				font-weight: 600;
			}

			p {
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.75;
				text-align: left;
			}

			a {
				@extend %cta;
			}

			@include medium-to-large-screen {
				max-width: 100%;
				align-items: center;
				margin: 2rem 0;

				strong,
				p,
				a {
					text-align: center;
				}
			}
		}

		&--card {
			@include small-to-medium-screen {
				width: 100%;
				align-items: flex-start;
				text-align: left;
				padding: 0 1rem;
				row-gap: 1rem;
				margin-bottom: 2rem;
			}
		}

		&--fullbanner-reverse,
		&--fullbanner {
			grid-column: 3;
			grid-row: 1;
			align-self: center;
			justify-self: center;
			width: 100%;
			max-width: 300px;

			strong {
				@extend %header-4;
				display: block;
				margin-bottom: 1rem;
				text-align: left;
			}

			p {
				font-size: 0.875rem;
				line-height: 24px;
				font-family: Santral W01;
				font-weight: 300;
				font-style: normal;
				margin-bottom: 1rem;
				text-align: left;
			}

			div {
				text-align: left;
				a {
					@extend %cta;
					text-align: left;
				}
			}
		}

		&--fullbanner-reverse {
			grid-column: 1;
		}

		&--menu-card {
			strong {
				display: block;
				font-weight: 300;
				font-size: 1rem;
				text-align: left;
				padding-top: 0.5rem;
			}
			div {
				text-align: left;
				padding: 0.5rem 0;
				a {
					@extend %cta;
					font-weight: 500;
					text-align: left;
				}
			}
		}
	}
}
