@import "./reset";
@import "./mixins";

@font-face {
	font-family: "Santral W01";
	src: url("../assets/fonts/Santral\ W01\ Light.otf");
	font-weight: 300;
}

@font-face {
	font-family: "Santral W01";
	src: url("../assets/fonts/Santral\ W01\ Regular.otf");
	font-weight: 400;
}

@font-face {
	font-family: "Santral W01";
	src: url("../assets/fonts/Santral\ W01\ SemiBold.otf");
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Santral W01", sans-serif;
	margin-top: 100px;
}

a,
button {
	cursor: pointer;
}

a {
	color: #000;
	&:active,
	&:hover {
		color: #000;
		font-weight: 600;
	}
}

.slick-arrow {
	position: absolute;
	top: 50%;
	left: 10px;
	height: 1rem;
	width: 1rem;
	z-index: 99;
	&::before {
		display: block;
		content: "";
		height: 1rem;
		width: 1rem;
		background-image: url("../assets/images/left-1.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

.slick-next {
	left: initial;
	right: 10px;
	&::before {
		background-image: url("../assets/images/right-1.svg");
	}
}

.logo {
	display: block;
	width: 100%;

	&--header {
		max-width: 190px;

		@include small-to-medium-screen {
			max-width: 130px;
		}
	}
}

.breadcrumb {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 60px;
	border: 2px solid #81d8d0;
	border-right: none;
	border-left: none;

	strong {
		font-weight: 600;
	}
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 3rem 0;
}

.shop-now {
	@extend %button;
	height: 2.5rem;
	font-size: 0.825rem;
	max-width: 120px;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

.gap {
	column-gap: 5rem;
}

.mw-1280 {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.mw-1600 {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
