@import "./reset";

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Dosis", sans-serif;
}

.logo {
  display: block;
  width: 100%;

  &--header {
    max-height: 25px;
  }
}

a,
button {
  cursor: pointer;
}
