@import "./mixins";

.header {
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: #fff;
	position: fixed;
}
.topBar {
	background: #81d8d0;
	height: 2.75rem;
	box-sizing: border-box;
	padding: 0 !important;
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.75rem;
		line-height: 2.75rem;

		p {
			line-height: 2.75rem;
			align-self: center;
			font-weight: 600;
			font-size: 0.875rem;
			text-align: center;

			@include small-to-medium-screen {
				line-height: 1;
				padding-top: 0.5rem !important;
			}
		}
		a {
			color: #000;
			border-bottom: 1px solid #000;
			line-height: 1.71;
			display: inline-block;
		}

		@include small-to-medium-screen {
			p,
			a {
				font-size: 0.725rem;
			}
			p {
				padding: 0 30px;
			}
		}
	}
}

.headerBar {
	border-top: 0.25rem solid #81d8d0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	padding-right: 0;
	column-gap: 1rem;
	height: 56px;
	position: sticky;
	top: 0;

	@include small-to-medium-screen {
		padding: 1rem 0.5rem;
	}

	&__menu {
		display: none;
		@media screen and (max-width: 1023px) {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: max-content;
			font-size: 0;
			padding: 0 0.5rem;
			border: none;
			background-color: transparent;

			&::before {
				content: "";
				width: 1rem;
				height: 1rem;
				background-repeat: no-repeat;
				background-size: 100%;
				background-image: url("../assets/images/menu.svg");
			}

			&:hover {
				&::before {
					background-image: url("../assets/images/hamburger-1.gif");
				}
			}
		}
	}

	&__right,
	&__left {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		column-gap: 1.75rem;

		@include small-to-medium-screen {
			column-gap: 0.5rem;
		}
	}
	&__right {
		justify-content: flex-end;
		max-width: 560px !important;
		height: 100%;
		padding-right: 1.5rem;
		position: relative;

		&:hover {
			background-color: #81d8d0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: max-content;
		font-size: 0;
		padding: 0 0.5rem;
		color: #000;

		&::before {
			content: "";
			display: block;
			width: 1rem;
			height: 1rem;
			background-repeat: no-repeat;
			background-size: 100%;
		}

		&--search {
			&::before {
				background-image: url("../assets/images/search-1.svg");
			}

			&:hover {
				&::before {
					background-image: url("../assets/images/search-icon.gif");
				}
			}
		}
		&--location {
			&::before {
				background-image: url("../assets/images/location.svg");
			}
			&:hover {
				&::before {
					background-image: url("../assets/images/store-locator.gif");
				}
			}

			@include small-to-medium-screen {
				display: none;
			}
		}

		&--contact {
			font-size: 0.875rem;
			column-gap: 0.5rem;
			&::before {
				background-image: url("../assets/images/concierge.svg");
			}
			&:hover {
				&::before {
					background-image: url("../assets/images/customer-service.gif");
				}
			}
		}

		&--appointment {
			font-size: 0.875rem;
			column-gap: 0.5rem;
			&::before {
				background-image: url("../assets/images/calendar.svg");
			}

			&:hover {
				&::before {
					background-image: url("../assets/images/calendar.gif");
				}
			}
		}

		&--account {
			&::before {
				background-image: url("../assets/images/account.svg");
			}

			&:hover {
				&::before {
					background-image: url("../assets/images/my-account.gif");
				}
			}
		}

		&--wishlist {
			&::before {
				background-image: url("../assets/images/wishlist.svg");
			}
			&:hover {
				&::before {
					background-image: url("../assets/images/wishlisticon-empty.gif");
				}
			}
		}

		&--shoppingbag {
			&::before {
				background-image: url("../assets/images/shopping-bag.svg");
			}
			&:hover {
				&::before {
					background-image: url("../assets/images/shoppingbag-empty.gif");
				}
			}
		}

		&--location,
		&--contact,
		&--appointment {
			@include medium-to-large-screen {
				display: none;
			}
		}
		&--search,
		&--account {
			@include small-to-medium-screen {
				display: none;
			}
		}
	}

	&__dropdown {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 560px;
		transition: max-height 1s;
		max-height: 0;
		overflow: hidden;
		&--active {
			display: block;
			top: 100%;
			min-height: 100vh;
			max-height: 100dvh;
			z-index: 99;
		}
	}
}

.bag {
	&__count {
		font-size: 0.725rem;
		font-weight: 700;
		padding-left: 0.5rem;
	}
}

.logo {
	&__wrapper {
		width: 100%;
		img {
			margin: 0 auto;
		}
	}
}

.dropdown {
	&__child {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		width: 100%;
		padding: 1rem;
		background: #fff;
		transition: height 1s easew;
	}

	&__content {
		margin-top: 4rem;
		strong {
			font-size: 1.5rem;
		}

		p {
			margin: 1rem 0;
			font-size: 0.875rem;
			line-height: 1.5;
		}
	}

	&__ctas {
		a {
			@extend %cta;
			margin-top: 1rem;
		}
	}
}

.account {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.minicart {
	&__items {
		display: flex;
		flex-direction: column;
	}

	&-item {
		display: grid;
		grid-template-columns: minmax(160px, 1fr) 1fr;
		grid-template-rows: auto;
		grid-auto-rows: 0;
		grid-auto-columns: 0;

		&__image {
			img {
				object-fit: contain;
				width: 100%;
			}
		}

		&__summary {
			display: flex;
			flex-direction: column;
			row-gap: 1rem;
			font-size: 0.825rem;
			padding-left: 0.5rem;
		}

		&__remove {
			@extend %cta;
			display: inline-block;
			text-align: left;
			background: transparent;
			border: none;
			padding: 0;
		}
	}
}
