.shelf {
	width: 100%;
	padding: 0 40px;
	margin-top: 4rem;

	:global(.slick-slide > div) {
		width: 100%;
	}

	:global(.slick-arrow) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.5rem;
		height: 3.5rem;
		background: #fff;
		left: 0px;

		&::before {
			margin: auto;
		}
	}

	:global(.slick-next) {
		left: initial;
		right: 0px;
	}
}
