.shelf {
	width: 100%;
	padding: 0 40px;
	margin: 4rem 0;

	:global(.slick-slide > div) {
		width: 100%;
	}

	:global(.slick-arrow) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.5rem;
		height: 3.5rem;
		background: #fff;
		left: 0px;

		&::before {
			margin: auto;
		}
	}

	:global(.slick-next) {
		left: initial;
		right: 0px;
	}
}

.product {
	padding: 0 5px;
	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__image {
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
			aspect-ratio: 1 / 1;
		}
	}
}
