@import "./mixins";

.video {
	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 1600px;
		height: 100%;
		margin: 0 auto;
		text-align: center;
		justify-content: center;
		position: relative;

		@include medium-to-large-screen {
			flex-direction: column-reverse;
		}
		@include small-to-medium-screen {
			video {
				min-height: 360px;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	&__content {
		position: absolute;
		bottom: 90px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		max-width: 525px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		row-gap: 2rem;

		@include medium-to-large-screen {
			position: initial;
			padding: 20px 10px;
		}

		strong {
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.33;
			color: #fff;
		}

		p {
			font-weight: 400;
			color: #fff;
		}

		a {
			@extend %button;
			@extend %hover-effect;
			max-width: 12rem;
			height: 2.5rem;
			text-align: center;

			&:hover {
				background-size: 100% 1px;
			}
		}

		@include small-to-medium-screen {
			a,
			p,
			strong {
				color: #000;
			}
		}
	}
}
